.skill {
    height: 25px;
    width: 25px;
    margin-left: 3px;
}
.inactive {
    background-image: url("../assets/star-inactive.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.active {
    background-image: url("../assets/star-active.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
