@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,100&display=swap&family=Roboto+Slab:wght@300&display=swap'");
$vibrantPrimary: #c92cb8;
$primary: #9a88c0;
$lightPrimary: #e7deff;
$myRed: #be4b4b;
$myLightBlue: #5eb3ce;
$myGray: #dedede;
@import "header", "footer", "skillers", "main";
* {
    margin: 0px;
    padding: 0px;
    color: white;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    &::before {
        margin: 0px;
        padding: 0px;
    }
    &::after {
        margin: 0px;
        padding: 0px;
    }
    color: $lightPrimary;
}
html {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(41, 41, 41);
}
h1 {
    align-self: center;
    color: $myGray;
}
body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    background-color: black;
    max-width: 1024px;
    width: 100vw;
}
body > * {
    width: 85%;
}
@media screen and (max-width: 1080px) {
    footer {
        .bar {
            bottom: 15vw;
        }
        ol {
            bottom: 30vw;
            li {
                font-size: 1.4vw;
            }
        }
    }
}
@media screen and (max-width: 840px) {
    header {
        flex-direction: column;
        .contact {
            font-size: 0.8em;
            margin: 20px;
            align-self: flex-start;
        }
        .hero {
            margin-top: 15px;
        }
    }
    main {
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
    }
    main ol,
    main .about,
    main li {
        min-width: unset;
        max-width: unset;
        width: 95%;
        align-items: center;
    }
    .values-container {
        display: flex;
        justify-self: right;
        justify-content: space-between;
    }
}

@media screen and (max-width: 470px) {
    h1 {
        font-size: 1.5em;
    }
    .contact {
        margin: 25px;
    }
    figure {
        margin-top: 5px;
        img {
            width: 30px;
        }
        figcaption {
            font-size: 0.8em;
        }
    }
    footer ol {
        display: none;
    }
    .line-separator {
        transform: scale(0.8) translate(15%);
        right: 0;
        width: 420px;
    }
}
@media screen and (max-width: 400px) {
    header {
        .line-separator {
            transform: translate(-50%);
            left: 50%;
            width: 240px;
        }
        h1 {
            text-align: center;
        }
    }
    main {
        .skill {
            width: 20px;
            height: 20px;
        }
        li {
            font-size: 15px;
        }
        .tag-name::before {
            display: none;
        }
    }
}
