footer {
    position: relative;
    overflow-x: hidden;
    pointer-events: none;
    ol {
        position: absolute;
        right: 1.5%;
        top: 10px;
        list-style: none;
        li {
            color: $myGray;
            font-style: italic;
            font-size: 19px;
            font-weight: 100;
        }
    }
    .brown {
        position: absolute;
        top: 50%;
        width: 100vw;
        background-color: $myBrown;
        height: 130px;
        z-index: 0;
    }
    img {
        width: 90%;
        z-index: 1;
    }
    display: flex;
    justify-content: center;
    image-resolution: cover;
    background-image: url("../assets/eirye-bar.svg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 70%;
}
