@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,100&display=swap");
* {
  margin: 0px;
  padding: 0px;
  color: white;
  font-family: "Roboto Mono", monospace;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  width: 100vw;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.hero figure {
  text-align: center;
}

.hero figcaption {
  margin: 0px 20px;
  color: #dedede;
  font-style: italic;
  font-weight: 200;
}

.hero img {
  height: 50px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact a {
  color: #c97676;
}

header {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35vh;
}

.line-separator {
  width: 70%;
  -ms-grid-column-align: center;
      justify-self: center;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  width: 95%;
}

main span {
  color: #c97676;
}

main ol {
  width: 50%;
}

main li {
  margin: 5px 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  list-style: image("assets/list-item.svg");
}

main li div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main li img {
  width: 10px;
}

.inactive {
  -ms-grid-column: 1;
  grid-column: 1;
  height: 20px;
  width: 20px;
  background-image: url("../assets/star-inactive.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.active {
  -ms-grid-column: 1;
  grid-column: 1;
  height: 20px;
  width: 20px;
  background-image: url("../assets/star-active.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

footer {
  position: relative;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  image-resolution: cover;
  background-image: url("../assets/eirye-bar.svg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 70%;
}

footer ol {
  position: absolute;
  right: 0px;
  top: 80px;
  margin: 10px 40px;
  list-style: none;
}

footer ol li {
  color: #dedede;
  font-style: italic;
  font-size: 19px;
  font-weight: 100;
}

footer .brown {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  width: 100vw;
  background-color: #746349;
  height: 10vh;
  max-height: 200px;
  z-index: -1;
}

footer img {
  width: 50%;
}
/*# sourceMappingURL=main.css.map */