@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,100&display=swap&family=Roboto+Slab:wght@300&display=swap'");
$myRed: #c97676;
$myViolet: #9a88c0;
$myLightViolet: #e7deff;
$myLightBlue: #5eb3ce;
$myBrown: #746349;
$myGray: #dedede;
@import "header", "footer", "skillers", "main";
* {
    margin: 0px;
    padding: 0px;
    color: white;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    &::before {
        margin: 0px;
        padding: 0px;
    }
    &::after {
        margin: 0px;
        padding: 0px;
    }
    color: $myLightViolet;
}

html {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(41, 41, 41);
}
h1 {
    align-self: center;
    color: $myGray;
}
.line-separator {
    width: 90%;
    max-height: 50px;
}
.top {
    width: 90%;
    max-height: 50px;
    margin-top: 10px;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
    width: 100vw;
    overflow-x: hidden;
    background-color: black;
}
body > * {
    width: 85%;
}
@media screen and (max-width: 1230px) {
    footer ol li {
        font-size: 1.4vw;
    }
    header {
        background-image: unset;
    }
}
@media screen and (max-width: 840px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        .contact {
            font-size: 0.8em;
        }
        .hero {
            margin-top: 15px;
        }
    }
}
@media screen and (max-width: 735px) {
    main {
        flex-direction: column;
        align-items: center;
    }
    main ol,
    main .about,
    main li {
        min-width: unset;
        max-width: unset;
        width: 95%;
        align-items: center;
    }
    .values-container {
        display: flex;
        justify-content: space-around;
    }
    footer .brown {
        height: 45px;
    }
    .profs-title {
        margin: 10px;
        transform: translateX(40%) scale(1.7);
    }
}
@media screen and (max-width: 470px) {
    h1 {
        font-size: 1.5em;
    }
    .contact {
        margin: 25px;
    }
    figure {
        margin-top: 5px;
        img {
            width: 30px;
        }
        figcaption {
            font-size: 0.8em;
        }
    }
}
@media screen and (max-width: 360px) {
    main li {
        font-size: 0.8em;
    }
    .skill {
        height: 20px;
        width: 20px;
    }
    footer {
        display: none;
    }
}
